<!DOCTYPE html>
<html>
<head>
    <title>My Simple App</title>
    <style>
        body {
            background-color: #121212; /* dark background */
            color: #f0f0f0; /* light text */
            font-family: Arial, sans-serif;
        }

        a {
            color: #80cbc4; /* soft cyan for links */
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Hello Johann! Well, it's looking fine now, isn't it?</h1>

    <p><a href="records">Pour les matches ATP, c'est ici</a></p>
</body>
</html>
